<div class="well well-info well-lg">
    <h4>Name : <%=event.name%></h4>
    <p>
      Description : <%=event.description%>
    </p>
</div>
<a href="/showEvents" style="margin-bottom:20px;"><span class="glyphicon glyphicon-chevron-left"><i>Back to lists</i></span></a>
